#ark-cab-box
  #ark-cab.ark-cab
    //- 中间三角框区域分三个角放射性打开
    //- 顶部三角
    .ark-cab-top-triangle
    //- 左下角三角
    .ark-cab-bottom-left-triangle
    //- 右下角三角
    .ark-cab-bottom-right-triangle

    //- 顶部两侧区域向两侧平移打开
    //- 顶部左侧能量条
    .ark-cab-top-left-flash
    //- 顶部右侧能量条
    .ark-cab-top-right-flash
    //- 顶部左侧异形边框
    .ark-cab-top-left-border
    //- 顶部右侧侧异形边框
    .ark-cab-top-right-border

    //- 底部区域两侧边框向两侧平移打开，中间边框向下平移打开。
    //- 底部中间边框
    .ark-cab-bottom-center-border
    //- 底部左侧边框
    .ark-cab-bottom-left-border
    //- 底部右侧边框
    .ark-cab-bottom-right-border

    //- 中部区域向两侧平移打开
    //- 中部左侧异形边框
    .ark-cab-center-left-border
    //- 中部右侧异形边框
    .ark-cab-center-right-border

    //- 中部主体圆形边框收束消失
    .ark-cab-main-container
      //- 主体内容外部刻度边框
      .ark-cab-outside-border


