#loading-box
  .SAO-scene
    .SAO-wrap
      .SAO-wall.SAO-wall-right
      .SAO-wall.SAO-wall-left
      .SAO-wall.SAO-wall-top
      .SAO-wall.SAO-wall-bottom
      .SAO-wall.SAO-wall-back
    .SAO-wrap
      .SAO-wall.SAO-wall-right
      .SAO-wall.SAO-wall-left
      .SAO-wall.SAO-wall-top
      .SAO-wall.SAO-wall-bottom
      .SAO-wall.SAO-wall-back
