if hexo-config('preloader.enable')
  if hexo-config('preloader.load_style') == 'ark'
      @import './_load_style/ark'
  else if hexo-config('preloader.load_style') == 'doodle'
    @import './_load_style/doodle'
  else if hexo-config('preloader.load_style') == 'gear'
    @import './_load_style/gear'
  else if hexo-config('preloader.load_style') == 'ironheart'
    @import './_load_style/ironheart'
  else if hexo-config('preloader.load_style') == 'linkstart'
    @import './_load_style/linkstart'
  else if hexo-config('preloader.load_style') == 'pokeball'
    @import './_load_style/pokeball'
  else if hexo-config('preloader.load_style') == 'scarecrow'
    @import './_load_style/scarecrow'
  else if hexo-config('preloader.load_style') == 'spincat'
    @import './_load_style/spincat'
  else if hexo-config('preloader.load_style') == 'triangles'
    @import './_load_style/triangles'
  else if hexo-config('preloader.load_style') == 'wizard'
    @import './_load_style/wizard'
  else if hexo-config('preloader.load_style') == 'image'
    @import './_load_style/image'
  else
    @import './_load_style/default'
