if theme.aside.card_pixiv.enable
  input#card-pixiv-anchor.card-widget-visible(type="radio" name="card-widget-visible" value="card-pixiv")
  .card-widget.card-pixiv
    .item-headline
      i.fa.fa-image(aria-hidden="true")
      span= _p('aside.card_pixiv')
      iframe(src="https://cloud.mokeyjay.com/pixiv" frameborder="0" style="width:99%;height:380px;margin:0;")
