/*标题字体*/
@font-face
  font-family 'TaikoMagic'
  src url('https://npm.elemecdn.com/akiblog@1.0.2/fontsdest/REEJI-TaikoMagicGB-Flash-Bold.ttf')
  font-display swap
  font-weight lighter
/*正文字体*/
@font-face
  font-family 'ZhuZiAYuanJWD'
  src url('https://npm.elemecdn.com/akiblog@1.0.2/fontsdest/ZhuZiAWan.ttf')
  font-display swap
  font-weight lighter
/*电子数字字体*/
@font-face
  font-family 'UnidreamLED'
  src url('https://npm.elemecdn.com/akiblog@1.0.2/fontsdest/UnidreamLED.ttf')
  font-display swap
  font-weight lighter
/*iconfont*/
svg
  &.icon
    width 1em
    height 1em
    vertical-align -0.15em
    fill currentColor
    overflow hidden

.iconfont
  font-family "iconfont" !important
  font-size 1.85em
  font-style normal
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

#page-header
  #site-info
    #site-title
      font-family 'TaikoMagic'
      font-size 3em!important

a.categoryBar-list-link,
a.blog-slider__title,
a.article-title,
h1.post-title
  font-family 'TaikoMagic'