extends includes/layout.pug

block content
  include ./includes/mixins/post-ui.pug
  #recent-posts.recent-posts
    if theme.swiperBar.enable
      !=partial('includes/custom/ark_swiperBar', {}, {cache: true})
    if theme.categoryBar.enable
      !=partial('includes/custom/categoryBar', {}, {cache: true})
    +postUI
    include includes/pagination.pug
