#loading-box
  position fixed
  z-index 1000
  width 100vw
  height 100vh
  margin 0
  background #270F34
  overflow hidden
  display flex
  align-items center
  justify-content center
  contain content
  overflow clip
  &.loaded
    z-index -1000
    css-doodle
      display none



  
